@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Potta+One&family=Gamja+Flower&display=swap');
.container {
  box-sizing: border-box;
}

.input-area {
  background-color: #dff3e3;
  border-radius: 15px 0 0 15px;
}

.review {
  box-shadow: inset 0px 0px 30px -20px rgb(153, 179, 159);
  border-radius: 0 15px 15px 0;
  border-left: 2px solid #8db596;
  position: relative;
}

.review > h1:first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  display: inline;
  padding: 0.25rem;
}

.table-wrap {
  margin: 2rem 1rem;
  height: 90%;
  border: 1px solid #000;
}

tbody > tr {
  font-size: 24px;
}

tbody > tr > td:nth-of-type(3) {
  font-family: 'Gamja Flower', cursive;
}

tbody > tr > td:nth-of-type(4) {
  font-size: 18px;
  padding: 0;
  padding-right: 0.5rem;
}

.fa-times-circle {
  transition: color 0.25s ease-out;
  visibility: hidden;
}

.fa-times-circle:hover {
  color: tomato;
}

.showDeleteIcon {
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .input-area {
    border-radius: 15px 15px 0 0;
    height: auto !important;
  }

  .review {
    border-radius: 0 0 15px 15px;
    border-top: 2px solid #8db596;
    border-left: none;
  }
}
